.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-body
        %ul#myTab.nav.nav-pills.nav-justified
          %li
            = link_to clubs_path do
              %i.fa.fa-newspaper-o{"aria-hidden" => "true"}
              \&nbsp; News des clubs
          %li
            = link_to clubs_list_path do
              %i.fa.fa-users{"aria-hidden" => "true"}
              \&nbsp; Les Clubs
          %li
            = link_to clubs_subscribe_path do
              %i.fa.fa-list{"aria-hidden" => "true"}
              \&nbsp; S'inscrire
        #myTabContent.tab-content
          #justifmenu01.tab-pane.fade.active.in
            %p
        .panel
          .panel-body
            .btn-group{"data-toggle" => "buttons", :style => "float:right;margin-right:0"}
              %label.btn.btn-primary
                %input#option1{:name => "mesclubs", :type => "radio"} Mes clubs
              %label.btn.btn-primary.active
                %input#option2{:name => "touslesclubs", :type => "radio"} Tous les clubs
          .panel.panel-default
            .panel-body