.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-body
        %ul#myTab.nav.nav-pills.nav-justified
          %li
            = link_to clubs_path do
              %i.fa.fa-newspaper-o{"aria-hidden" => "true"}
              \&nbsp; News des clubs
          %li.active
            = link_to clubs_list_path do
              %i.fa.fa-users{"aria-hidden" => "true"}
              \&nbsp; Les Clubs
          %li
            = link_to clubs_subscribe_path do
              %i.fa.fa-list{"aria-hidden" => "true"}
              \&nbsp; S'inscrire
        #myTabContent.tab-content
          #justifmenu01.tab-pane.fade.active.in
            %p
        .panel
          .panel-body
            %ul.nav.nav-tabs{:role => "tablist"}
              %li.active{:role => "liste"}
                %a{"aria-controls" => "my-clubs", "data-toggle" => "tab", :href => "#my-clubs", :role => "tab"}
                  Mes clubs
              %li{:role => "presentation"}
                %a{"aria-controls" => "all-clubs", "data-toggle" => "tab", :href => "#all-clubs", :role => "tab"}
                  Tous les clubs
            .tab-content
          #my-clubs.active.tab-pane{:role => "tabpanel"}
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th Nom du club
                    %th Président
                    %th Email
                %tbody
                  %tr
                    %td
                      Drinkiit
                    %td
                      Nicolas
                    %td drinkiit@gmail.com
                    %td
                      %a.btn.btn-sm.btn-default{:href => "#"}
                        Voir les news
                    %td
                      %a.btn.btn-sm.btn-default{:href => "#"}
                        Profil du club


:javascript
  window.current_user_promo = #{current_user.promo}
