.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading News des clubs
      .panel-body
        .panel
          .panel-body
            .btn-group{"data-toggle" => "buttons", :style => "float:right;margin-right:0"}
              %label.btn.btn-primary
                %input#option1{:name => "mesclubs", :type => "radio"} Mes clubs
              %label.btn.btn-primary.active
                %input#option2{:name => "touslesclubs", :type => "radio"} Tous les clubs
          .panel.panel-default
            .panel-body
              .row
                .col-md-2.col-sm-3.text-center
                  %center
                    %a.story-img 
                      = link_to clubs_profile_path do
                        %img.img-responsive.img-circle{:src =>  asset_path("logo_driinkit.jpg"), :style => "width:110px;height:110px;margin-top:40%"}
                .col-md-10.col-sm-9
                  %h3 Article 1
                  .row
                    .col-xs-12
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                        Aliquam in felis sit amet augue.
                      %p.lead
                        %a
                          = link_to clubs_article_path do
                            %button.btn.btn-default Lire la suite
                      %ul.list-inline
                        %li
                          %a{:href => "#"} Il y a 2 jours
                        %li
                          %a{:href => "#"} 4 Commentaires
          .panel.panel-default
            .panel-body
              .row
                .col-md-2.col-sm-3.text-center
                  %center
                    %a.story-img{:href => "#"}
                      %img.img-responsive.img-circle{:src => "//placehold.it/90x90&text=90x90", :style => "width:90px;height:90px;margin-top:40%", :title => "Voir le profil"}/
                .col-md-10.col-sm-9
                  %h3 Article 2
                  .row
                    .col-xs-12
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                        Aliquam in felis sit amet augue.
                      %p.lead
                        %button.btn.btn-default Lire la suite
                      %ul.list-inline
                        %li
                          %a{:href => "#"} Il y a 2 jours
                        %li
                          %a{:href => "#"} 4 Commentaires
        %center
          %ul.pagination.pagination-alt
            %li.disabled
              %a{:href => "#"}
                &laquo;
            %li.active
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
            %li
              %a{:href => "#"}
                &raquo;
  .row
    .col-md-offset-11.col-md-1
      %img.img-responsive#button-top{:alt => "", :src =>  asset_path("arrows.png")}

:javascript
  window.current_user_promo = #{current_user.promo}
