.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-body{:style => "padding-bottom:0%"}
        %ul#myTab.nav.nav-pills.nav-justified
          %li
            = link_to clubs_path do
              %i.fa.fa-newspaper-o{"aria-hidden" => "true"}
              \&nbsp; News des clubs
          %li
            = link_to clubs_list_path do
              %i.fa.fa-users{"aria-hidden" => "true"}
              \&nbsp; Les Clubs
          %li
            = link_to clubs_subscribe_path do
              %i.fa.fa-list{"aria-hidden" => "true"}
              \&nbsp; S'inscrire
        #myTabContent.tab-content
          #justifmenu01.tab-pane.fade.active.in
            %p
        .panel
        .row{:style => "background-color:rgba(52, 73, 105,0.1);color:black;border-radius: 4px 4px 4px 4px;"}
          .col-md-3.col-xs-4{:style => "background-color:rgba(26, 188, 156,0.5);color:black;display:table-cell;float:none;border-radius:4px"}
            %br
              %center{:style => "margin-top:40%"}
                %img.img-responsive.img-circle{:src => asset_path("logo_driinkit.jpg"), :style => "width:150px;height:150px"}
                %h1 Driinkit
                %br
                %button.btn.btn-default{:type => "button"} Voir les news
          .col-md-8.col-xs-9{:style => "display:table-cell;float:none"}
            .panel.panel-default{:style => "margin-top:6%"}
              .panel-body{:style => "padding-top:0.05%"}
                %h1 Description
                %br
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .panel.panel-default{:style => "margin-top:8%;margin-bottom:6%"}
              .panel-body{:style => "padding-top:0.05%"}
                %h1 Informations
                %br
                %B Président : 
                Nicolas
                %br
                %B Membres : 
                Felix, Kévin, Constantin, Clément...
                %br
                %br
                %button.btn.btn-default{:type => "button"} Nous contacter
                %a{:href => "http://localhost:3000/club/rejoindreclub"} 
                  %button.btn.btn-default{:type => "button"}Rejoindre ce club
