.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading News des clubs
      .panel-body
        .panel
          .marge{:style => "padding:2%"}
            .btn-group{"data-toggle" => "buttons", :style => "float:right;margin-right:0"}
              %label.btn.btn-primary
                %input#option1{:name => "mesclubs", :type => "radio"} Mes clubs
              %label.btn.btn-primary.active
                %input#option2{:name => "touslesclubs", :type => "radio"} Tous les clubs
          %br
          %br
          - @articles.each do | article |
            .panel.panel-default
              .panel-body
                .row
                  .col-md-2.col-sm-3.text-center
                    %center
                      - if article.club
                        %a.story-img 
                          = link_to article.club do
                            %img.img-responsive.img-circle{:src => article.club.logo.url, :style => "width:110px;height:110px;margin-top:40%"}
                  .col-md-10.col-sm-9
                    %h3=article.title
                    .row
                      .col-xs-12
                        %p
                          =article.content
                        %p.lead
                          %a
                            = link_to articles_path(article) do
                              %button.btn.btn-default Lire la suite
                        %ul.list-inline
                          %li
                            Il y a 
                            =time_ago_in_words(article.created_at)
                          %li
                            %a{:href => "#"}
        %center
          = will_paginate @collection, renderer: BootstrapPagination::Rails
        / %center
        /   %ul.pagination.pagination-alt
        /     %li.disabled
        /       %a{:href => "#"}
        /         &laquo;
        /     %li.active
        /       %a{:href => "#"} 1
        /     %li
        /       %a{:href => "#"} 2
        /     %li
        /       %a{:href => "#"} 3
        /     %li
        /       %a{:href => "#"} 4
        /     %li
        /       %a{:href => "#"} 5
        /     %li
        /       %a{:href => "#"}
        /         &raquo;
      
  .row
    .col-md-offset-11.col-md-1
      %img.img-responsive#button-top{:alt => "", :src =>  asset_path("arrows.png")}

:javascript
  window.current_user_promo = #{current_user.promo}
