
/*
 *
 * Index
 *
 */



/*
 *
 * Formulaire
 *
 */

.text-area-width{
	min-width:100%;
	max-width:100%;
}

.submit{
	margin-top: 2%;
}

.form-club-button{
	float:right;
	margin-right:15px;
	margin-top:15px;
}


/*
 *
 * Edit
 *
 */

.fonction-club{
	margin-top:2.8%;
}

/*
 *
 * Join
 *
 */


/*
 *
 * New
 *
 */

/*
 *
 * Show
 *
 */

.panel-body-show{
	padding-bottom:0%;
	padding-top:0%;
}

p{
	text-align:justify;
}

.panel-body-style{
	padding-top:0px;
}

.row-show-gray{
	background-color:rgba(52, 73, 105,0.1);
	color:black;
	border-radius: 4px 4px 4px 4px;
}

.row-show-blue{
	background-color:rgba(66,139,202,1);
	color:black;
	display:table-cell;
	float:none;
	border-radius:4px;
}

.margin-center{
	display:inline-block;
	vertical-align:middle;
	margin-top:50px;
}

img.img-responsive.img-circle.img-profil{
	display:inline-block;
	vertical-align:middle;
	width:150px;
	height:150px;
}

.description-information-panel{
	display:table-cell;
	float:none;
}

.description-panel{
	margin-top:50px;
}

.information-panel{
	margin-top:50px;
	margin-bottom:50px;
}

.admin-button{
	margin:1%;
}

.boutons_profil{
	margin-top:10px;
	margin-left:15px;
}



