.row
  .col-md-2
    .panel-body
      %a{:href => "http://localhost:3000/club"}
        %button.btn.btn-primary.btn-block Accueil
      %a{:href => "http://localhost:3000/club/mesclubs"}
        %button.btn.btn-primary.btn-block Mes clubs
      %a{:href => "http://localhost:3000/club/touslesclubs"}
        %button.btn.btn-primary.btn-block Tous les clubs
      %a{:href => "http://localhost:3000/club/creerclub"}
        %button.btn.btn-primary.btn-block Créer un club
  .col-md-8
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Mes clubs
      .panel-body
        %h1{:align => "center"} Veuillez remplir le formulaire
:javascript
  window.current_user_promo = #{current_user.promo}