.row{:style => "overflow-y: auto;"}
.row{:style => "overflow-y: auto;"}
  .col-xs-1
  .col-xs-10
    .panel.panel-default
      .panel-body.text-center
        .row

      .panel-body
        .row

:javascript
  window.current_user_promo = #{current_user.promo}
