.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-body
        %ul#myTab.nav.nav-pills.nav-justified
          %li
            %a{:href => "http://localhost:3000/club"} 
              %i.fa.fa-newspaper-o{"aria-hidden" => "true"}
              \&nbsp; News des clubs
          %li
            %a{:href => "http://localhost:3000/club/lesclubs"} 
              %i.fa.fa-users{"aria-hidden" => "true"}
              \&nbsp; Les Clubs
          %li.active
            %a{:href => "http://localhost:3000/club/subscribe"}
              %i.fa.fa-list{"aria-hidden" => "true"}
              \&nbsp; S'inscrire
        #myTabContent.tab-content
          #justifmenu01.tab-pane.fade.active.in
            %p
      .panel
        .panel-body
          %center
            .hero-unit
              %h1 Participez à la vie associative !
          %br
            .row
              .col-md-6
                .thumbnail
                  .hovereffect
                    %img.img-responsive{:alt => "", :src =>  asset_path("club1.jpg")}
                      .overlay
                        %h2 Pour rejoindre un club
                        %a.info{:href => "#"} Cliquez ici
                  .caption{:style => "margin-top:70%"}
                    %center
                      %h3 Rejoindre un club
                      Un club vous intéresse? Rejoignez le vite !
                      (survolez la photo pour accéder au formulaire)
              .col-md-6
                .thumbnail
                  .hovereffect
                    %img.img-responsive{:alt => "", :src =>  asset_path("club2.jpg")}
                      .overlay
                        %h2 Pour créer un club
                        %a.info{:href => "#"} Cliquez ici
                  .caption{:style => "margin-top:70%"}
                    %center
                      %h3 Créer un club
                      Vous avez une idée de club et vous vous la concrétiser? 
                      N'hésitez plus !
                      (survolez la photo pour accéder au formulaire)


:javascript
  window.current_user_promo = #{current_user.promo}