.row
  .col-md-2
    .panel-body
      %a{:href => "http://localhost:3000/club"}
        %button.btn.btn-primary.btn-block Accueil
      %a{:href => "http://localhost:3000/club/mesclubs"}
        %button.btn.btn-primary.btn-block Mes clubs
      %a{:href => "http://localhost:3000/club/touslesclubs"}
        %button.btn.btn-primary.btn-block Tous les clubs
      %a{:href => "http://localhost:3000/club/creerclub"}
        %button.btn.btn-primary.btn-block Créer un club
  .col-md-8
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Mes clubs
      .panel-body
        %h1{:align => "center"} Choisissez un club
        .tab-content
      #promo-2018.active.tab-pane{:role => "tabpanel"}
      .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Nom du club
            %th Président
            %th Email
        %tbody
          %tr
            %td
              Drinkiit
            %td
              Nicolas
            %td drinkiit@gmail.com
            %td
              %a.btn.btn-sm.btn-default{:href => "/users/84/profile"}
                Voir les news
            %td
              %a.btn.btn-sm.btn-default{:href => "/users/84/profile"}
                Profil du club


:javascript
  window.current_user_promo = #{current_user.promo}
